@model OntanedaTomas_ExamenP1.Models.TOntaneda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TOntaneda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VelocidadCPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VelocidadCPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaOverclokeado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaOverclokeado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaObtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaObtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCPU">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
